In [1]:
import lasio
import pandas as pd
log=lasio.read('C:/Users/Paa Kwasi/Desktop/1045098720.las')

In [6]:
well=log.df()

In [8]:
well.to_csv('CONGER # E9-i.csv')

In [9]:
log2=lasio.read('C:/Users/Paa Kwasi/Desktop/1045098749.las')

In [10]:
well2=log2.df()

In [11]:
well2

,CILD,CALN,CALD,GR,ILD,ILM,LWTLB,NPLS,DPLS,RXRT,SFL,SP,DRHO,RHOB,PE
DEPT,,,,,,,,,,,,,,,
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969.5,NaN,NaN,NaN,NaN,NaN,NaN,92.41,NaN,NaN,NaN,NaN,112.20,NaN,NaN,NaN
970.0,NaN,NaN,NaN,NaN,NaN,NaN,86.01,NaN,NaN,NaN,NaN,112.11,NaN,NaN,NaN
970.5,NaN,NaN,NaN,NaN,NaN,NaN,82.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
well

,CASEOD,MATRXDEN,ABHV,DCAL,DPOR,GR,NPOR,RHOB,RHOC,SCAL
DEPT,,,,,,,,,,
954.0,4.5,2.71,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953.5,4.5,2.71,0.0000,NaN,NaN,NaN,33.8960,NaN,NaN,NaN
953.0,4.5,2.71,0.0000,NaN,NaN,NaN,33.8578,NaN,NaN,2.0088
952.5,4.5,2.71,0.0000,NaN,NaN,NaN,33.3397,NaN,NaN,2.0956
952.0,4.5,2.71,0.0000,NaN,NaN,NaN,30.6276,NaN,NaN,2.8202
...,...,...,...,...,...,...,...,...,...,...
100.0,4.5,2.71,139.5710,7.6687,12.3670,123.6880,-2.2730,2.4985,0.0188,7.0008
99.5,4.5,2.71,139.6622,7.6689,12.7461,128.5129,-1.7117,2.4920,0.0073,7.0049
99.0,4.5,2.71,139.7535,7.6679,12.8897,135.0469,-1.0992,2.4896,-0.0028,7.0064
98.5,4.5,2.71,139.8448,7.6681,12.3707,134.0216,-1.4708,2.4985,0.0051,7.0059
98.0,4.5,2.71,139.9361,7.6696,11.4645,128.3770,-2.6603,2.5140,0.0246,7.0042

In [13]:
well2.to_csv('CONGER # E10-i.csv')

In [14]:
import lasio
import pandas as pd
l3=lasio.read('C:/Users/Paa Kwasi/Desktop/1045098781.las')

In [15]:
well3=l3.df()

In [18]:
well3.to_csv('test_well.csv')

In [7]:
l4=lasio.read('C:/Users/Paa Kwasi/Desktop/Well testing/1045098781.las')

In [12]:
l4.df().to_csv('Knox # V10-i.csv')

In [13]:
knox=pd.read_csv("C:/Users/Paa Kwasi/Desktop/Python Notebooks/Knox # V10-i.csv")

In [15]:
knox.dropna(inplace=True)

In [17]:
baker=lasio.read('C:/Users/Paa Kwasi/Desktop/Well testing/1045386648.las').df()

In [19]:
baker.to_csv('baker.csv')